header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 20px;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.logo{
    display: flex;
    align-items: center;
}
.logo a{
    font-size: 22px;
    margin-left: 7px;
    text-decoration: none;
    color: #000;
   
}

.theme-container .icon{
    font-size: 25px;
    cursor: pointer;
    margin-right: 1rem;
}